*{
    margin: 0;
    padding: 0;
}

body {
    font-family:"Audiowide" ;
}
#header{
    background-color: black;
    color: white;
    border-bottom: 5 px solid red;
}

#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid red;
}

span{
    color: red;
}

#navigation ul{
    display: flex;
}

#navigation li{
    padding: 0 20px;
    list-style:none;
}